@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.ttf");
  }

body {
    margin: 0px;
    background-color: #BECBFF;
    font-size: 50px;
}
div.mainWindow {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex:1;
}
div.header {
    background-color: #5751eb;  
    height: 90px;
    min-height: 90px;
    width: 100vw;
    max-width: 100%;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
div.headerDivisorManager {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
}
div.helperButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
}
div.accountWrapper {
    display: flex;
    align-items: center;
}
img.buttonImg {
    width: 35px;
    height: 35px;
}
img.buttonimg.small {
    width: 15px;
    height: 15px;
}
img.buttonimg.titleselect {
    margin: 7px
}
div.marginedText {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
    color: #D9D9D9;
}
div.marginedText.blue {
    color: #0700D7
}
div.marginedText.black {
    color: #000000
}
div.marginedText.black.padded {
    padding-left: 10px;
}
div.selectbox {
    width: 50%;
}
div.mainBlock {
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 100%;
    justify-content: space-between;
}
div.subBlock {
    margin-top: 25px;
    width: 100%;
    height: max-content;
    padding: 10px;
    padding-top: 5px;
    background-color: #D9D9D9;
    border: 2px solid #000000;
    box-sizing: border-box;
}
div.subBlock.sub {
    width: auto;
    height: 45%;
}
div.verticalFlexer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div.verticalFlexer.center {
    align-items: center;
}
div.verticalFlexer.bloksHolder {
    justify-content: space-between;
    height: 95%;
    width: 29vw;
}
div.verticalFlexer.spaceBetween {
    justify-content: space-between;
}
div.verticalFlexer.spaceBetween.center {
    justify-content: space-between;
    align-items: center;
}
div.horizontalFlexer {
    display: flex;
    flex-direction: row;
}
div.horizontalFlexer.flexed {
    flex: 1;
    width: 100%;
    justify-content: space-between;

    overflow: scroll
}
div.horizontalFlexer.textinput {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: min-content;
    width: 90%;
}
div.horizontalFlexer.textinput.margined {
    margin-top: 30px;
}
div.button {
    margin-top: 20px;
    text-align: center;
    background-color: #94AAFF;
    font-size: 50px;
    color: #0700D7;
    border-radius: 15px;
    border: 2px solid #5651EA;
    width: 90%;
    padding: 10 0 10 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
div.button:hover {
    background-color: #acbcfc;
    color: #0700D7;
    transition: color 0.3s;
}
div.select {
    background-color: #D9D9D9;
    font-family: "Lexend Deca";
    border: solid 1px #000000;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.select.long {
    width: 70%;
    height: 70px;
}
div.select.short {
    width: 40%;
    height: 30px;
}
input.select {
    height: 100%;
    width: 100%;
    font-size: 50px;
    background-color: #D9D9D9;
    font-family: "Lexend Deca";
    border: solid 0px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
input.select:focus {
    outline-width: 0;
}
div.select.long:focus {
    outline-width: 1;
}
button.checkmark {
    height: 60px;
    width: 60px;
    padding: 0px;
    background-color: #D9D9D9;
}
button.checkmark:hover {
    outline: auto;
    background-attachment: none;
}
div.scrollingBox {
    padding: 5px;
    flex: 1;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    border: 2px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar {
    width: 0px;
}
div.realDiv {
    height: 10px;
    width: 10px;
}
select {
    background-color: #D9D9D9;
    font-family: "Lexend Deca";
    height: fit-content;
    font-size: 50px;
    padding-right: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid black;
}
input.int {
    text-align: end;
    padding-right: 10px !important;
    height: 70px;
    width: 50%;
    font-size: 50px;
    background-color: #D9D9D9;
    font-family: "Lexend Deca";
    border: solid 0px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid black;
}
input.int::-webkit-outer-spin-button,
input.int::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.int[type=number] {
  -moz-appearance: textfield;
}
div.title {
    text-align: center;
    margin: 10px;
    font-size: 50px;
    color: #D9D9D9;
    color: #0700D7
}
div.menu {
    position: fixed;
    padding-top: 60px;
    top: 90px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}
div.menuOption {
    margin-top: 5px;
    box-sizing: border-box;
    padding-right: 20px !important;
    text-align: end;
    align-content: center;
    width: 100%;
    background-color:#94AAFF;
    height: 100px;
}
div.menuOption:hover {
    color:#566294;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
 position: inherit;
    flex-direction: column;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.show {display:block;}