
@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.ttf");
  }
body {
    margin: 0px;
    font-family: 'Lexend Deca';
    height: 100vh;
}
.header {
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerColor {
    background-color: #1C1F2A;
}
.flexHolder {
    flex:1
}
.text {
    font-size: 32px;
    user-select: none;
}
.text.whiteT {
    color: white
}
.text.grayT {
    color: #BEBEBE
}
.text.backgroundT{
    color: #010513
}
.button {
    background-color: #2E313C;
    color: #BEBEBE;
}
.fontNormal {
    font-size: 32px;
}
.fontBig {
    font-size: 64px;
}
.circleNormal {
    width: 88px;
    height: 88px;
    border-radius: 44px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontalDivider {
    min-height: 2px;
    width: 100%;
    margin: 1px;
}
.whiteBG {
    background-color: white;
}
.grayBG {
    background-color: #BEBEBE;
}
.flexer{
    display: flex;
}
.flexer.column {
    flex-direction: column;
}
.flexer.row {
    flex-direction: row;;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

.paddingLow {
    padding: 10px;
}
.paddingMid {
    padding: 20px;
}
.paddingHigh {
    padding: 30px;
}
.paddingHigher {
    padding: 40px;
}
.paddingVerticalLow {
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddingVerticalHigh {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ringSegmentHolder{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ringSegmentHolder.mid{
    width: 200px;
    height: 200px;
}
.circleSegment {
  border-radius: 50%;
}

.circleSegment.mid {
    width: 100px;
    height: 100px;
}
.circleSegment.midHover {
    position: absolute;
    width: 70px;
    height: 70px;

}
.backgroundColor {
    background-color: #010513;
}
.clickablePlateColor {
    background-color: #2E313C;
}
.absolute {
    position: absolute;
}
.borderMid {
    border-radius: 10px;
}
.borderHigh {
    border-radius: 40px;
}
.marginHigh {
    margin: 60px
}
.clickablePlate {
    margin-top:8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.textButton {
    padding: 20px;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
}
.textButton:hover {
    transition: 100ms;
    background-color: #1c2545;
}
.hoverable:hover {
    transition: 100ms;
}
.grayHover:hover {
    background-color: #3e414e;
}
.noPadding {
    padding: 0px;
}
.space-around{  
    justify-content: space-around;
}
.radioActive {
    font-size: 32px;
    border: solid 6px #C0E38D;
    border-radius: 100vh;
    background-color: #C0E38D;
    color: black;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 180px;
}
.radioUnactive {
    font-size: 32px;
    border-radius: 100vh;
    border: solid 6px white;
    color: white;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 180px;
}
input.placeholderGrayBlack {

}
input.placeholderGray::placeholder {
    color: #BEBEBE
}